body,html {
  height: 100%;
 }

body {
  padding-top: 50px;
  background-image: url('images/contactbg.jpg');
  background-repeat: no-repeat;
  background-size: 100%;

}

#myBtn{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: green;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}
#myBtn:hover {
  background-color: darkgreen;
  color: white;
}

.bg-4{
  outline: none;
  background-color: green;
  color: white;
  background-color: #2f2f2f;
  color: #ffffff;

}

footer{
  display: block;
}

.form-area {
  background-color: #FAFAFA;
  padding: 10px 40px 60px;
  margin: 10px 0px 60px;
  border: 1px solid rgb(66, 109, 174);
  opacity:0.8;
}


/*styles for heading before form */
.heading {
  text-align: center;
  padding: 30px;
  font-size: 40px;
  
}

/* for paragrah below form */
.paragraph1{
  text-align: center;
  padding: 60px;
  font-family: "Times Roman New";
  font-size: 20px;
  background-color: black;
  color: white;
}

/*for Heading name "Food Exploria" */
.edit{
  text-shadow: 2px 2px 5px lightgreen;
  color: green;
}

/* to resize few texts "JUGAD CODE" */
.edit2{
  font-size: 20px;
}

/* footer */
.span-or {
	display: block;
	position: absolute;
	left: 50%;
	top: -2px;
	margin-left: -25px;
	background-color: #fff;
	width: 50px;
	text-align: center;
  }
  .hr-or {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
  }
  footer.nb-footer {
  background: #222;
  border-top: 4px solid #b78c33; }
  footer.nb-footer .about {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1170px;
  text-align: center; }
  footer.nb-footer .about p {
  font-size: 13px;
  color: #999;
  margin-top: 30px; }
  footer.nb-footer .about .social-media {
  margin-top: 15px; }
  footer.nb-footer .about .social-media ul li a {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  font-size: 16px;
  color: #b78c33;
  border: 1px solid rgba(255, 255, 255, 0.3); }
  footer.nb-footer .about .social-media ul li a:hover {
  background: #b78c33;
  color: #fff;
  border-color: #b78c33; }
  footer.nb-footer .footer-info-single {
  margin-top: 30px; }
  footer.nb-footer .footer-info-single .title {
  color: #aaa;
  text-transform: uppercase;
  font-size: 16px;
  border-left: 4px solid #b78c33;
  padding-left: 5px; }
  footer.nb-footer .footer-info-single ul li a {
  display: block;
  color: #aaa;
  padding: 2px 0; }
  footer.nb-footer .footer-info-single ul li a:hover {
  color: #b78c33; }
  footer.nb-footer .footer-info-single p {
  font-size: 13px;
  line-height: 20px;
  color: #aaa; }
  footer.nb-footer .copyright {
  margin-top: 15px;
  background: #111;
  padding: 7px 0;
  color: #999; }
  footer.nb-footer .copyright p {
  margin: 0;
  padding: 0; }
  